# Bower dependency directory (https://bower.io/)
bower_components

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Css files
app/css/

# files
app/js/libs.min.js
app/js/main.min.js

# html
app/*.html