include ../layout/_mixins.pug

doctype html
html(lang="en")
	- var title = 'Main | Company name'
	include ../layout/_head.pug
	
	body
		|
		|
		// Header
		include ../layout/_header.pug

		|
		|
		
		// Section
		section
			.container
				.row
					p Section
		

		|
		|
		// Footer
		include ../layout/_footer.pug 