doctype html
html(lang="en")
	- var title = 'Main | Company name'
	include ../layout/head.pug
	
	body
		|
		|
		// Header
		include ../layout/header.pug

		|
		|
		
		// Section
		section
			.container
				.row
					p Section
		

		|
		|
		// Footer
		include ../layout/footer.pug