include ../layout/_mixins

doctype html
html(lang="ru")
	- var title = 'Main | Company name'
	include ../layout/_head
	
	body
		|
		|
		|
		// Header
		include ../layout/_header

		|
		|
		|
		// Section
		section.b-block
			.container
				.row
					.col-6
						h1 DEMO
						h1 H1 - Main title
						h2 H2 - Second title, Section title
						h3 H3 - Articles, Slides title
						h4 H4 - Items title title
						h5 H5
						h6 H6
						
						p Section decription text
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum maiores nam saepe optio pariatur aspernatur? Numquam porro repudiandae est! Inventore et itaque voluptate odio officiis aliquam cum laudantium ipsam, iure consequuntur saepe corporis enim fuga non beatae quam ullam? Repellendus nam eligendi nobis qui repellat odio harum commodi? Praesentium, modi?
						
						a(href="#request").btn.js-popup Open default popup
						a(href="#success").btn.js-popup Open success popup

		|
		|
		|
		// Footer
		include ../layout/_footer