doctype html
html(lang="en")
	- var title = 'Main | Company name'
	include ../layout/head.pug
	
	body

		include ../layout/header.pug

		main#main
			.container
				.row
					h1 Title 
						br
						| perenos

		include ../layout/footer.pug