include ../layout/_mixins

doctype html
html(lang="en")
	- var title = 'Main | Company name'
	include ../layout/_head
	
	body
		|
		|
		// Header
		include ../layout/_header

		|
		|
		
		// Section
		section.b-block
			.container
				.row
					.col-6
						h2._title Section title
						._desc
							p Section decription text

							a(href="#request").btn.js-popup Open popup

		|
		|
		// Footer
		include ../layout/_footer 