body
	min-width: 320px
	position: relative
	font-family: $def_font
	line-height: 1.65
	overflow-x: hidden
	-webkit-font-smoothing: antialiased
	&.no-scroll
		overflow: hidden


::placeholder
	color: #666

::selection
	background-color: $c1
	color: #fff


ul
	margin: 0
	padding: 0
	list-style-type: none


a
	transition: all .3s ease
	&:hover
		text-decoration: none
	&:focus
		text-decoration: none
		outline: none


img
	width: auto
	max-width: 100%
	height: auto







// Text align
.t-center
	text-align: center

.t-left
	text-align: left

.t-right
	text-align: right



// Flex group & align
.group
	display: flex
	
.fx-wrap
	flex-wrap: wrap

.ai-start
	align-items: flex-start

.ai-center
	align-items: center

.ai-end
	align-items: flex-end

.jc-start
	justify-content: flex-start

.jc-between
	justify-content: space-between

.jc-center
	justify-content: center

.jc-end
	justify-content: flex-end

.fd-col
	flex-direction: column


.no-gutter
	margin-left: 0
	margin-right: 0



// Fade-zoom animation - mfp
.mfp-fade-zoom
	&.mfp-bg 
		opacity: 0
		transition: opacity 0.3s ease-out
	.zoom-anim-dialog
		opacity: 0
		transform: scale(0.8)
		transition: all 0.2s ease-in-out
	
	// animate in
	&.mfp-ready
		&.mfp-bg
			opacity: 0.8
		.zoom-anim-dialog
			opacity: 1
			transform: scale(1)

	// animate out
	&.mfp-removing
		&.mfp-bg
			opacity: 0
		.zoom-anim-dialog
			transform: scale(0.8)
			opacity: 0
			