footer.b-footer
	.container
		.row
			.col
				p Footer


|
|
|
// Request popup
.b-mfp.-request-popup.zoom-anim-dialog.mfp-hide#request
	form._form
		+input('text','name','Имя','Ваше имя', true)
		+input('text','phone','Телефон','Телефон', false)
		button.btn Send
		.b-form-result
			.b-mess
				._title Success!
				._desc We will contact with you soon

|
|
|
// Success popup
.b-mfp.-succes-popup.zoom-anim-dialog.mfp-hide#success
	.b-form-result.-success
		.b-mess
			._title Success!
			._desc We will contact with you soon

|
|
|
// Scripts
script(src="js/libs.min.js")
script(src="js/main.min.js")