head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

	//- SEO
	meta(property="og:title" content="")
	meta(property="og:description" content="")
	meta(property="og:url" content="")
	meta(property="og:image" content="path/to/image.jpg")
	
	//- Custom Browsers Tab Color
	meta(name="theme-color" content="#000")
	
	//- Favicon
	link(rel="icon" href="img/favicon/favicon.ico")
	link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png")
	
	//- Styles
	link(rel="stylesheet" href="css/libs.min.css")
	link(rel="stylesheet" href="css/main.min.css")

	title #{title}