doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

		//- SEO
		meta(property="og:title" content="")
		meta(property="og:description" content="")
		meta(property="og:url" content="")
		meta(property="og:image" content="path/to/image.jpg")

		//- <link rel="icon" href="img/favicon/favicon.ico">
		//- <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">

		title Title