body
	min-width: 320px
	position: relative
	font-family: $deff
	line-height: 1.65
	overflow-x: hidden
	-webkit-font-smoothing: antialiased

html,
body
	font-size: 16px

// Modules
@import modules/buttons
@import modules/typoghraphy
@import modules/form
@import modules/popups
@import modules/mfp-zoom
